{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<h1>Loans</h1>
<p class="important">
    Select action for Loans
    {% endblock %}
    {% block sidebar %}
    <a href="/loans/displayloans">Display all loans</a>
    <a href="/loans/loanbook">Loan a book</a>
    <a href="/loans/returnbook">return a book</a>
    <a href="/loans/lateloans">Display late loans</a>
    {% endblock %}
    {% block footer %}
    {{super()}}
    {% endblock %}